Docs/
PreviousWork/
Sources/

Project/.idea
Project/Data/HuggingFaces_NoComments/

Project/scripts/.ipynb_checkpoints/
Project/scripts/kaznlplib/

Project/scripts/main_previous.py
Project/scripts/parser.py
Project/scripts/test.py
